body {
    background-color: white;
}

h1 {
    color: rgb(50, 38, 163)
}

p {
    color: rgb(50, 38, 163);
}

.container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 6em
}

.container2 {
    width: 100%;
    height: 50px;
    background-color: grey;
    
}

.btn-primary {
    background-color: rgb(50, 38, 163);
}

.navbar-brand {
    color: white;
}

.btn-link {
    color: rgb(128, 207, 128);
}

h2 {
    color: rgb(50, 38, 163);
}

.container3 {
    background-color: lightgrey;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 6em
}

.container4{
    margin-top: 6em;
    margin: auto;
}
#table1{
    background-color: lightgrey;
    width:1000px; 
    height: 750px;
}
